.profilePage-main-con-top {
  /* height: 40vh; */
  height: fit-content;
}
.profile-pic-con-pp {
  height: 150px;
  width: 150px;
}
.seperator {
  border: 1px solid lightgray;
  height: 70px;
}
.list-con {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.list-con-i {
  text-align: center;
  width: 80px;
}
.options-con {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.pp-t-r-con {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pp-t-l-con {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.opt-btn{
    color: black;
    border-color: none;
    border: 1px solid lightgray;
}
.modal-main-con{
  display: flex;
}
.modal-header{
  border-bottom: none;
}
.btn-close {
  box-sizing: content-box;
  height: unset;
  padding: 0.25em 0.25em;
  color: #000;
  border: 0;
  border-radius: 0.25rem;
  opacity: .5;
}
.upper-layer{
  height: 30px;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.3rem;
  outline: 0;
}
.popover {
  width: 130px;
}
.popover .popover-arrow::after, .popover .popover-arrow::before {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}
.popover-body {
  padding: 10px 8px;
  color: #212529;
}
.btn-close:focus {
  outline: 0;
  box-shadow: unset;
  opacity: 1;
}
/* .ppc-amf{
  display: none;
  align-items: center;
  margin-bottom: 10px;
  
} */


@media screen and (max-width: 480px) {
    .profilePage-main-con-top {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    .pp-t-r-con {
        height: 25vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
      }
      .options-con{
        padding: 0 12px;
        width: 100%;
      }
      .opt-btn{
        width: 100%;
      }
      .person-profile-img-info-con{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        gap: 20px;
      }
      .pp-t-l-con {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    /* .ppc-amf{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      
    } */
}
